body{
    font-family: Arial, sans-serif;
    background-color: #F06060;
    font-size: 1rem;
    margin: 0;
}
h1
{
    color: #5C4B51;
    text-align: center;
}

blockquote
{
    color: #042940;
}
p{
    color: white;
    text-align: center;
}
.body
{
    width: 800px;
    margin: 0 auto;
}
.floatright
{
    float: right;
    margin: 0 0 0 10px;
    height: 200px;
}