.parent
{
    background-color:cyan;
    height: 200vh;
}
.child-one
{
    background-color: green;
    position: sticky;
    top: 0;
    bottom: 0;

}
.child-two
{
    background-color: orangered;
}
.child-three
{
    background-color: pink;
}